*{
    margin: 0;
    padding: 0;
    font-family:'Prompt';
}
h1{
    font-size: 18px;
    margin: 0;
}
h2{
    font-size: 14px;
    margin: 0;
}
h3{
    font-size: 12px;
    margin: 0;
}
.body{
    padding: 38px;
    margin: 0 auto;
}
.layout-margin{
    margin: 16px 20px 0;
}
@font-face{
    font-family: 'Prompt';
    src: url(../assets/font/Prompt-Regular.ttf);
}
/* รูป */
.pic{
    border-radius: 100%;
}
img{
    width: 100%;
    object-fit: cover;
}
/* รูป */
/* เส้น */
.line{
    border-style: solid none none none;
    width: 100%;
}
.line-grey{
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);
}
.line-green{
    background-color: rgba(58, 188, 167,0.1);
    color:  rgba(58, 188, 167,0.1);
}
/* เส้น */
/* เชคอิน */
.check-in{
    width: 245px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}
/* เชคอิน */
input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
    margin-bottom: 16px;
    height: 32px;
    padding: 0 0 0 15px;
}
/* ปุ่ม */
.button{
    display: flex;
    flex-direction: column;
}
.btn{
    width: 100%;
    height: 44px;
    border-radius: 4px;
    border: none;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.25);
    outline: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
}
.size{
    width: 180px;
    height: 32px;
    font-size: 14px;
}
.btn-green{
    background: #3ABCA7;
}
.btn-white{
    background: #FFFFFF;
    color: #000000;
    border: 1px solid  #3ABCA7;
}
.btn-green:active{
    background: #FFFFFF;
    color: #3ABCA7;
    border: 1px solid  #3ABCA7;
}
.btn-white:active{
    background: #3ABCA7;
    color: #FFFFFF;
    
}
/* ปุ่ม */

/* กรอบสเต็ปงาน */
.box-status{
    display: flex;
    justify-content: space-between;
}
    /* กรอบวันที่เล็ก */
.box-date{
    display: flex;
    border-radius: 4px;
    width: 96px;
    height: 20px;
    background-color: #FF0000;
    padding: 3px 6px;
}
.box-date h3{
    color: #ffffff;
    margin: 0 0 0 6px;
}
.status{
    box-shadow: 4px 4px 8px rgb(229,229,229);
    padding: 16px 18px 12px 18px;
    margin: 0 0 20px 0;
}
.top-succeed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 0 0 2px 0;
}
.btn-status{
    border-radius: 4px;
    width: 80px;
    height: 20px;
}
.btn-succeed{
    background-color: #0BB807;
}
.btn-wait{
    background-color: #FFB524;
}
.btn-status h3{
    color: #ffffff;
    text-align: center;
}

.main{
    display: flex;
    flex-direction: row;
    padding: 6px 0;
}
.topic{
    width: 80px;
    
}
.detail{
    /* width: 200px; */
    margin: 0 0 0 5px;
}
.boxInput{
    width: 80%;
    margin: 0 0 0 5px;
}
.btn-size{
    width: 80px;
    height: 20px;
    font-size: 12px;
}
.btn-check{
    display: flex;
    justify-content: center;
}
.upload{
    width: 250px;
}
/* กรอบสเต็ปงาน */
